extends layout-loggedout.pug

block content
    div(class="about-us-intro")
        h1 Don't Forget The Tea
        h2(id="intro-text") "Don't Forget The Tea is a boba-themed web application inspired by Remember The Milk, a to-do list website where users can keep track of their tasks and organize them into lists."
        h1 MEET OUR TEAM!
    div(class="about-us")
        div(class="person") 
            div( class="container")
                div(class="container-inner")
                    img(class="img img2" src="/icons/caitlin-photo.png")
            div
                div(class="divider") 
                div(class="name") Caitlin Buen-Lucas
                div(class='icon-div')
                    a(class="aboutus-github-link" href='https://github.com/cpualei')
                        img(src='./icons/github.png' style='width:50px;height:50px;border-radius:100%;')
                    a(class="aboutus-github-link" href='https://www.linkedin.com/in/caitlin-buen-lucas/')
                        img(src='./icons/linkedin.png' style='width:50px;height:50px;border-radius:100%;')
                
        div(class="person")
            div( class="container")
                div(class="container-inner")
                    img(class="img img2" src="/icons/weiqi-photo.png")
            div
                div( class="divider") 
                div( class="name") Weiqi Mei
                div(class='icon-div')
                    a(class="aboutus-github-link" href='https://github.com/weiqimei')
                        img(src='./icons/github.png' style='width:50px;height:50px;border-radius:100%;')
                    a(class="aboutus-github-link" href='https://www.linkedin.com/in/weiqimei/')
                        img(src='./icons/linkedin.png' style='width:50px;height:50px;border-radius:100%;')
        div(class="person")
            div( class="container")
                div( class="container-inner")
                    img(class="img img3" src="/icons/rena-photo.jpg")           
            div 
                div(class="divider") 
                div(class="name") Rena Lin
                div(class='icon-div') 
                    a(class="aboutus-github-link" href='https://github.com/ZhiqiLinn')
                        img(class="aboutus-github-link" src='./icons/github.png' style='width:50px;height:50px;border-radius:100%;')
                    a(class="aboutus-github-link" href='https://www.linkedin.com/in/zhiqi-linn')
                        img(src='./icons/linkedin.png' style='width:50px;height:50px;border-radius:100%;')
block footer 

