extends layout.pug

block content
    //- nav.menu
    //-     ul
    //-         li
    //-             input(type='text' name='search' placeholder='Search') Search Bar
    //-         li
    //-             a(href='/') Home
    //-         li
    //-             a(href='') About
    //-         li
    //-             a(href='') Contact




    form(action='/tasks' method='post')
        input(type='hidden' name='_csrf' value=csrfToken)
        div
            script(src='./searchbar.js')
            input.search(id='searchbar' type='text' placeholder='Search...') 
        div 
            button(onclick="window.location.href='/tasks'" type='search' class='btn btn-search') Search
            //- button(onclick=`window.location.href='/tasks/${task.id}` type='search' class='btn btn-search') Search

        div
            label(for="content") Content: 
            input(type="text" name="content" required)      
        div 
            label(for="dueDate") Due Date: 
            input(type="date" name="dueDate") 
        div        
            label(for="listId") List: 
            select(name="listId")
                each list in lists
                    option(value=list.id)= list.title
        div 
            button(type='submit' class='btn btn-create-task') Add Task
        //- div 
        //-     button(type='submit' class='btn btn-create-task') Clear Task
    each task in tasks
        p= task.content 
        //-  class='single-task' //give each task a class name, so we can search for it
