extends layout.pug

block content
  h3= subtask.content
  div
    p Proceed with deleting this subtask?
  div
    form(action=`/subtasks/${subtask.id}/delete` method='post')
      input(type='hidden' name='_csrf' value=csrfToken)
      button(class='btn btn-danger' type='submit') Delete Subtask
      a(class='btn btn-warning ml-2' href=`/subtasks/${subtask.id}` role='button') Cancel
