extends layout-loggedin.pug

block content
  div(class='delete-list-title')
    p Proceed with deleting this list?
  div(class='edit-lists-page-btns')
    div(class='delete-list-div ')
      h3= list.title
      div(class='delete-list-form')
        form(action=`/lists/${list.id}/delete` method='post')
          input(type='hidden' name='_csrf' value=csrfToken)
          div(class='delete-page-buttons')
            button(onclick=`window.location.href='/lists'` type='submit' class='btn btn-btn-danger') Delete List
      div(class='edit-lists-page-btns')
        button(onclick=`window.location.href='/lists'` class="btn") Cancel
