extends layout.pug

block content
  h3= task.content
  div
    p Proceed with deleting this task?
  div
    form(action=`/tasks/${task.id}/delete` method='post')
      input(type='hidden' name='_csrf' value=csrfToken)
      button(class='btn btn-delete-task' type='submit') Delete Task
      a(class='btn btn-cancel-delete-task' href=`/tasks/${task.id}` role='button') Cancel
