extends layout.pug

block content
  h3= list.title
  div
    p Proceed with deleting this list?
  div
    form(action=`/lists/${list.id}/delete` method='post')
      input(type='hidden' name='_csrf' value=csrfToken)
      button(type='submit' class='btn btn-btn-danger') Delete List
      button(onclick=`window.location.href='/lists/${list.id}'` class="btn") Cancel
