extends layout.pug

block content
    form(action=`/lists/${list.id}/edit` method='post')
        input(type='hidden' name='_csrf' value=csrfToken)
        div
            label(for="title") List Name:
            input(type="text" name="title" required)
        div
            button(type='submit' class='btn btn-edit') Edit List
