extends layout-loggedin.pug

block content
    link(rel="stylesheet" href="/stylesheets/index.css")
    form(action=`/lists/${list.id}/edit` method='post')
        input(type='hidden' name='_csrf' value=csrfToken)
        div(class='edit-lists-labels')
            label(for="title") List Name:
            input(type="text" name="title" value=`${list.title}` required)
        div
            button(type='submit' class='btn btn-edit') Edit List
