extends layout

append head
  //- add page specific styles by appending to the head
  link(rel="stylesheet" href="/stylesheets/index.css")
  link(rel='stylesheet' href='/stylesheets/layout.css')
  //- add page specific js
  script(src="/javascripts/taskDelete.js" type="module")
  script(src="/javascripts/taskEdit.js" type="module")

block content
  h1= title
  button(onclick="window.location.href='/users/signup'" type='submit' name='signUpButton') Sign Up Now!

  footer
    ul
      li
        a(href='' class='footerAboutUs') About Us
      li

      //- ATTEMPTED TO ADD GITHUB ICON, FAILED
      //- GITHUB
        //- a(href='https://www.flaticon.com/free-icons/github')
        //- img(src='https://www.flaticon.com/free-icons/github')

      //- FACEBOOK
        //- a(href='https://www.flaticon.com/free-icons/linkedin')
