doctype html
html
  head
    block head
      title="Don't Forget The Tea!"

      link(rel='stylesheet' href='/stylesheets/index.css')
      link(rel='stylesheet' href='/stylesheets/taskDeleteBtn.css')
      link(rel='stylesheet' href='/stylesheets/taskEdit.css')
      link(rel='stylesheet' href='/stylesheets/layout.css')
      link(rel='stylesheet' href='/stylesheets/homepage.css')
      link(rel='stylesheet' href='/stylesheets/aboutus.css')

      script(src="/javascripts/taskDelete.js" type="module")
      script(src="/javascripts/taskEdit.js" type="module")
      script(src="/javascripts/subtaskDelete.js" type="module")
      script(src="/javascripts/subtaskEdit.js" type="module")
      script(src="/javascripts/checkToComplete.js" type="module")


  body
    block navibar
      header.navbar
        div.header-left
          div(class='navbar-left')
            div(class='home-link')
              a(href='/' id='nav-home') DON'T
              br
              a(href='/' id='nav-home') FORGET
              br
              a(href='/' id='nav-home') THE TEA

        div.header-right
          div(class='navbar-right')
            div(class='aboutus-div')
              a(href='/aboutus' id='nav-aboutus') About Us
          div(class='signout-button-div')
            form(action='/users/logout' method='post')
              button(id='button' type='submit' class='btn btn-logout') Sign out

  block content

  footer
    block footer
      div(class='footer-div') CREATORS:
        div(class='rena-div')
          a(href='https://www.linkedin.com/in/zhiqi-linn') RENA
        div(class='weiqi-div')
          a(href='https://www.linkedin.com/in/weiqimei/') WEIQI
        div(class='caitlin-div')
          a(href='https://www.linkedin.com/in/caitlin-buen-lucas/') CAITLIN
