doctype html
html
  head
    block head
      title="Don't Forget The Tea!"
      link(rel='stylesheet' href='/stylesheets/reset.css')
      link(rel='stylesheet' href='/stylesheets/taskDeleteBtn.css')
      link(rel='stylesheet' href='/stylesheets/taskEdit.css')
      link(rel='stylesheet' href='/stylesheets/layout.css')
      script(src="/javascripts/taskDelete.js" type="module")
      script(src="/javascripts/taskEdit.js" type="module")

      nav#navbar-default
        ul(class='navbar-list')
          li
            a(href='/' id='nav-home') DON'T FORGET THE TEA
          li
            a(href='' id='nav-aboutUs' class='other-navbar-links') About Us
          li
            a(href='/users/login' id='nav-login' class='other-navbar-links') Log In
          li
            a(href='/users/signup' id='nav-signup' class='other-navbar-links') Sign Up

  body
    block content
