doctype html
html
  head
    block head
      title="Don't Forget The Tea!"

        //- add page specific styles by appending to the head
    link(rel="stylesheet" href="/stylesheets/index.css")
    link(rel='stylesheet' href='/stylesheets/layout.css')
    link(rel='stylesheet' href='/stylesheets/homepage.css')
    link(rel='stylesheet' href='/stylesheets/aboutus.css')
    //- add page specific js
    script(src="/javascripts/taskDelete.js" type="module")
    script(src="/javascripts/taskEdit.js" type="module")

  body
    block navibar
      header.navbar
        div.header-left
          div(class='navbar-left')
            div(class='home-link')
              a(href='/' id='nav-home') DON'T
              br
              a(href='/' id='nav-home') FORGET
              br
              a(href='/' id='nav-home') THE TEA

        div.header-right
          div(class='navbar-right')
            div(class='other-navbar-links')
              a(href='/aboutus' id='nav-aboutus') About Us
            div(class='other-navbar-links')
              a(href='/users/login' id='nav-login') Log In
            div(class='other-navbar-links')
              a(href='/users/signup' id='nav-signup') Sign Up

  block content
    h1= title
    div(class='signup-button-div')
      button(id='sign-up-now-button' onclick="window.location.href='/users/signup'" type='submit' name='signUpButton') Sign Up Now!
    div(class='matcha-boba')
      img(src='./icons/matcha-boba.png')
    div(class='quote-under-matcha-img') You've got matcha to do!

  footer
    block footer
      div(class='footer-div') CREATORS:
        div(class='rena-div')
          a(href='https://www.linkedin.com/in/zhiqi-linn') RENA
        div(class='weiqi-div')
          a(href='https://www.linkedin.com/in/weiqimei/') WEIQI
        div(class='caitlin-div')
          a(href='https://www.linkedin.com/in/caitlin-buen-lucas/') CAITLIN
