doctype html
html
  head
    block head
      nav#navbar-default
        ul
          li
            a(href='/' class='button') DON'T FORGET THE TEA!
          title="Don't Forget The Tea!"
          link(rel='stylesheet' href='/stylesheets/reset.css')
  body
    block content
