doctype html
html
  head
    block head
      title="Don't Forget The Tea!"

      link(rel='stylesheet' href='/stylesheets/index.css')
      link(rel='stylesheet' href='/stylesheets/taskDeleteBtn.css')
      link(rel='stylesheet' href='/stylesheets/taskEdit.css')
      link(rel='stylesheet' href='/stylesheets/layout.css')
      link(rel='stylesheet' href='/stylesheets/homepage.css')

      script(src="/javascripts/taskDelete.js" type="module")
      script(src="/javascripts/taskEdit.js" type="module")
      script(src="/javascripts/subtaskDelete.js" type="module")
      script(src="/javascripts/subtaskEdit.js" type="module")
      script(src="/javascripts/checkToComplete.js" type="module")


  body
  header.navbar
    div.header-left
      div(class='navbar-left')
        div(class='boba-icon')
          img(src='./icons/boba-icon.png' style='width:40px;height:40px;')
        div(class='home-link')
          a(href='/' id='nav-home') DON'T FORGET THE TEA

    div.header-right
      div(class='navbar-right')
        div(class='other-navbar-links')
          a(href='/users/signup' id='nav-signup') Sign Out

  block content

  footer
    block footer
      footer='CREATED BY: Rena, Weiqi, Caitlin'