doctype html
html
  head
    block head
      title="Don't Forget The Tea!"

      link(rel='stylesheet' href='/stylesheets/index.css')
      link(rel='stylesheet' href='/stylesheets/taskDeleteBtn.css')
      link(rel='stylesheet' href='/stylesheets/taskEdit.css')
      link(rel='stylesheet' href='/stylesheets/layout.css')
      link(rel='stylesheet' href='/stylesheets/homepage.css')

      script(src="/javascripts/taskDelete.js" type="module")
      script(src="/javascripts/taskEdit.js" type="module")
      script(src="/javascripts/subtaskDelete.js" type="module")
      script(src="/javascripts/subtaskEdit.js" type="module")
      script(src="/javascripts/checkToComplete.js" type="module")


  body
  header.navbar
    div.header-left
      div(class='navbar-left')
        div(class='boba-icon')
          img(src='./icons/boba-icon.png' style='width:67px;height:67px;')
        div(class='home-link')
          a(href='/' id='nav-home') DON'T
          br
          a(href='/' id='nav-home') FORGET
          br
          a(href='/' id='nav-home') THE TEA

    div.header-right
      div(class='navbar-right')
        form(action='/users/logout' method='post')
          button(id='button' type='submit' class='btn btn-logout') Sign out

  block content

  footer
    block footer
      div(class='footer-div') CREATED BY:
        div(class='rena-div')
          div(class='icon-div') RENA
            a(href='https://github.com/ZhiqiLinn')
              img(src='./icons/github.png' style='width:20px;height:20px;')
            a(href='https://www.linkedin.com/in/zhiqi-linn')
              img(src='./icons/linkedin.png' style='width:20px;height:20px;')
        div(class='weiqi-div')
          div(class='icon-div') WEIQI
            a(href='https://github.com/weiqimei')
              img(src='./icons/github.png' style='width:20px;height:20px;')
            a(href='https://www.linkedin.com/in/weiqimei/')
              img(src='./icons/linkedin.png' style='width:20px;height:20px;')
        div(class='caitlin-div')
          div(class='icon-div') CAITLIN
            a(href='https://github.com/cpualei')
              img(src='./icons/github.png' style='width:20px;height:20px;')
            a(href='https://www.linkedin.com/in/caitlin-buen-lucas/')
              img(src='./icons/linkedin.png' style='width:20px;height:20px;')
