extends layout.pug

block content
    link(rel="stylesheet" href="/stylesheets/index.css")

    form(action='/lists' method='post')
        input(type='hidden' name='_csrf' value=csrfToken)
    each list in lists
        section.lists-container
        .list
            ul.list-items
                li= list.title 
                    button(onclick=`window.location.href='/lists/${list.id}/edit'` type='submit' class='btn btn-edit') Edit 
                    button(onclick=`window.location.href='/lists/${list.id}/delete'` type='submit' class='btn btn-delete') Delete
    div
        button(onclick="window.location.href='/lists/create'" type='submit' class='btn btn-create') Create New List
