extends layout.pug

block content
    form(action='/lists' method='post')
        input(type='hidden' name='_csrf' value=csrfToken)
    each list in lists
        p= list.title
    div 
        button(onclick=`window.location.href='/lists/${list.id}/edit'` type='submit' class='btn btn-edit-task') Edit List
        button(onclick=`window.location.href='/lists/${list.id}/delete'` type='submit' class='btn btn-delete-task') Delete List
    div
        button(onclick="window.location.href='/lists/create'" type='submit' class='btn btn-list-create') Create New List
