doctype html
html
  head
    block head
      title="Don't Forget The Tea!"

        //- add page specific styles by appending to the head
    link(rel="stylesheet" href="/stylesheets/index.css")
    link(rel='stylesheet' href='/stylesheets/layout.css')
    link(rel='stylesheet' href='/stylesheets/homepage.css')
    //- add page specific js
    script(src="/javascripts/taskDelete.js" type="module")
    script(src="/javascripts/taskEdit.js" type="module")

  body
  header.navbar
    div.header-left
      div(class='navbar-left')
        div(class='boba-icon')
          img(src='./icons/boba-icon.png' style='width:67px;height:67px;')
        div(class='home-link')
          a(href='/' id='nav-home') DON'T
          br
          a(href='/' id='nav-home') FORGET
          br
          a(href='/' id='nav-home') THE TEA

    div.header-right
      div(class='navbar-right')
        div(class='other-navbar-links')
          a(href='/users/login' id='nav-login') Log In
        div(class='other-navbar-links')
          a(href='/users/signup' id='nav-signup') Sign Up
          
    link(rel="stylesheet" href="/stylesheets/index.css")
    div(class='login-form')
        div(class='all-login-labels-div') 
            form(action='/users/login' method='post') 
                input(type='hidden' name='_csrf' value=csrfToken)
                div
                    label(for="username") Username
                    input(type="text" name="username" required)
                div
                    label(for="password") Password
                    input(type="text" name="password" required)
                div(class="error-div")
                    if errors.length > 0
                    each error in errors
                        p= `*${error}`
                div
                    button(id='button' type='submit' class='btn btn-primary') Log in
                div
                    a(href='/users/signup' class='dont-have-acc') Don't have an account?

        form(action='/users/login' method='post')
            input(type='hidden' name='_csrf' value=csrfToken)
            input(type="hidden" name="username" value="DemoUser")
            input(type="hidden" name="password" value="boba123")
            div(id='demo-login-div')
                button(type='submit' class='btn btn-primary' id='demo-login-button') Demo Login
