extends layout.pug

block content 
  if errors.length > 0
    each error in errors 
      p= error 
  form(action='/users/signup' method='post')
    input(type='hidden' name='_csrf' value=csrfToken)
    div 
      label(for="firstName") First Name 
      input(type="text" name="firstName" required)
    div 
      label(for="lastName") Last Name 
      input(type="text" name="lastName" required)
    div 
      label(for="email") Email
      input(type="text" name="email" required)       
    div 
      label(for="username") Username
      input(type="text" name="username" required)      
    div 
      label(for="password") Password
      input(type="text" name="password" required)      
    div 
      button(type='submit' class='btn btn-primary') Sign Up
    div 
      a(href='/users/login' class='already-have-acc') Already have an account?
