body {
    margin: 20px;
    /* background-color: rgba(6, 123, 170, 1); */
    background-color: rgb(20, 149, 93);
}


.navbar {
    color: whitesmoke;
}

.boba-icon {
    display: inline-flex;
}

.boba-logo {
    display: flex;
    align-content: center;
}

.signup-button-div {
    display: flex;
    justify-content: center;
    align-items: center;

}

h1 {
    font-size: 40px;
    color: whitesmoke;
    text-align: center;
    margin-top: 50px;
}

.matcha-boba {
    display: flex;
    justify-content: center;
}

.quote-under-matcha-img {
    color:rgb(255, 255, 255);
    font-weight: bolder;
    font-size: 30px;
    margin-top: 20px;
    margin-bottom: 50px;
    display: flex;
    justify-content: center;
}
