@import url('https://fonts.googleapis.com/css2?family=Karla&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap');

body {
    font-family: 'Karla', sans-serif;
    font-weight: normal;
}

#nav-home {
    font-family: 'Bebas Neue', cursive;
}

.signup-form-div {
    background: whitesmoke;
    border-radius: 20px;
    height: 600px;
    width: 350px;
    padding-top: 20px;
    padding-bottom: 20px;
    display: flex;
    align-items: stretch;
    flex-direction: row;
}

.form-div {
    display: flex;
    flex-direction: row;
    justify-content: center;

}

#button {
    color: black;
    background: whitesmoke;
    border: 1px solid black;
    border-radius: 0.75em;
    transform-style: preserve-3d;
    transition: transform 150ms cubic-bezier(0, 0, 0.58, 1),
        background 150ms cubic-bezier(0, 0, 0.58, 1);
    margin-bottom: 30px;
}

#button::before {
    position: absolute;
    content: "";
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    border-radius: inherit;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

#button:hover {
    background: rgb(182, 232, 182);
    transform: translate(0, 0.25em);
}

#sign-up-now-button {
    color: black;
    background: whitesmoke;
    border: 1px solid black;
    border-radius: 0.95em;
    transform-style: preserve-3d;
    transition: transform 150ms cubic-bezier(0, 0, 0.58, 1),
        background 150ms cubic-bezier(0, 0, 0.58, 1);
    margin-bottom: 30px;
    width: 150px;
    height: 40px;
    font-size: larger;
}

#sign-up-now-button::before {
    position: absolute;
    content: "";
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    border-radius: inherit;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

#sign-up-now-button:hover {
    background: rgb(182, 232, 182);
    transform: translate(0, 0.25em);
}

.btn {
    font-family: 'Karla', sans-serif;
    width: 130px;
    height: 30px;
    color: #fff;
    border-radius: 5px;
    padding: 10px 25px;
    font-weight: 500;
    background: transparent;
    cursor: pointer;
    transition: all 0.3s ease;
    position: relative;
    display: inline-block;
    box-shadow: inset 2px 2px 2px 0px rgba(255, 255, 255, .5),
        7px 7px 20px 0px rgba(0, 0, 0, .1),
        4px 4px 5px 0px rgba(0, 0, 0, .1);
    outline: none;

    background: #009dff;
    line-height: 20px;
    padding: 0;
    border: none;
    /* margin-top: 10px; */
    margin: 10px;
}

.btn:hover {
    background: transparent;
    color: #76aef1;
    box-shadow: none;
}

*/ .btn {
    font-family: 'Karla', sans-serif;
    width: 70px;
    height: 40px;
    border-radius: 5px;
    padding: 10px 25px;
    font-weight: 500;
    background: transparent;
    cursor: pointer;
    transition: all 0.3s ease;
    position: relative;
    display: inline-block;
    box-shadow: inset 2px 2px 2px 0px rgba(255, 255, 255, .5),
        7px 7px 20px 0px rgba(0, 0, 0, .1),
        4px 4px 5px 0px rgba(0, 0, 0, .1);
    outline: none;

    line-height: 42px;
    padding: 0;
    border: none;
    margin-top: 10px;
    margin: 10px;
}

/* demo login button */
#demo-login-button {
    font-family: 'Karla', sans-serif;
    width: 150px;
    height: 50px;
    color: black;
    border-radius: 15px;
    padding: 10px 25px;
    font-weight: 700;
    font-size: larger;
    background: transparent;
    cursor: pointer;
    transition: all 0.3s ease;
    position: relative;
    display: inline-block;
    box-shadow: inset 2px 2px 2px 0px rgba(255, 255, 255, .5),
        7px 7px 20px 0px rgba(0, 0, 0, .1),
        4px 4px 5px 0px rgba(0, 0, 0, .1);
    outline: none;

    background: greenyellow;
    line-height: 20px;
    padding: 0;
    border: none;
    /* margin-top: 50px; */
}

#demo-login-button:hover {
    background: transparent;
    color: #76aef1;
    box-shadow: none;
}

*/ #demo-login-button {
    font-family: 'Karla', sans-serif;
    width: 70px;
    height: 40px;
    border-radius: 5px;
    padding: 10px 25px;
    font-weight: 500;
    background: transparent;
    cursor: pointer;
    transition: all 0.3s ease;
    position: relative;
    display: inline-block;
    box-shadow: inset 2px 2px 2px 0px rgba(255, 255, 255, .5),
        7px 7px 20px 0px rgba(0, 0, 0, .1),
        4px 4px 5px 0px rgba(0, 0, 0, .1);
    outline: none;

    line-height: 42px;
    padding: 0;
    border: none;
    margin-top: 10px;
    margin: 10px;
}

#demo-login-div {
    display: flex;
    flex-direction: row;
    align-content: stretch;
    justify-content: center;
}


/* ---------delete btn--------*/
.btn-delete-subtask {
    color: #fff;
    background: #d9534f;
}

.btn-delete-task {
    color: #fff;
    background: #d9534f;
}

.btn-delete-list {
    color: #fff;
    background: #d9534f;
}

/* ---------edit btn--------*/
.btn-edit-subtask {
    background: rgb(107 108 241);
    ;
}

.btn-edit-task {
    background: rgb(107 108 241);
    ;
}

.btn-edit-list {
    background: rgb(107 108 241);
    ;
}


.btn-cancel-subtask {
    background: yellowgreen;
}

.btn-cancel-task {
    background: yellowgreen;
}

.btn-cancel-list {
    background: yellowgreen;
}

.btn-create {
    width: 130px;
    height: 40px;
    background: rgb(78, 136, 78);
    color: #fff;
}

.btn-view {
    background: #6ec09e;
}

.btn-add-list {
    width: 110px;
    height: 40px;
    background: #00B7FF;
}

.btn-add-task {
    width: 110px;
    height: 40px;
    background: #00B7FF;
}

.add-task-button-div {
    display: flex;
    flex-direction: row;
    align-items: baseline;
    justify-content: space-evenly;
}

.btn-add-subtask {
    width: 110px;
    height: 40px;
    background: #00B7FF;
}

.completed-tasks {
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.tasks-completed {
    background-color: whitesmoke;
    border-radius: 15px;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 15px;
}

.btn-completed-tasks {
    width: 210px;
    height: 50px;
    font-size: large;
    background: rgb(107 108 241);
    margin-bottom: 30px;
}

.complete {
    display: flex;
    flex-direction: row;
    justify-content: center;
    font-size: 40px;
    padding-bottom: 15px;
    color: white;
}

.task-title {
    font-size: larger;
    font-weight: bolder;
}

.btn:hover {
    background: transparent;
    color: #76aef1;
    box-shadow: none;
}


*,
*:before,
*:after {
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
}

.forms {
    font-family: 'Karla', sans-serif;
    color: #000000;
}

form {
    max-width: 300px;
    margin: 10px auto;
    padding: 10px 20px;
    /* background: #f4f7f8; */
    border-radius: 8px;
    margin-bottom: 50px;
}

/* .signout-btn {

} */

input[type="text"],
input[type="password"],
input[type="email"],
textarea,
select {
    background: rgba(255, 255, 255, 0.1);
    border: none;
    height: auto;
    margin: 0;
    outline: 0;
    padding: 15px;
    width: 100%;
    background-color: #e8eeef;
    color: #8a97a0;
    box-shadow: 0 1px 0 rgba(0, 0, 0, 0.03) inset;
    margin-bottom: 30px;
}


.list {
    /* padding: em(10px) em(25px);
    margin: 20px;
    border-radius: .3em;
    box-shadow: 5px 0 5px -5px black,
        -5px 0 5px -5px black; */

    background: #f4f7f8;
    font-size: 20px;
    max-width: 30em;
    margin: auto;
    padding: 0.5em 1em;
    box-shadow: 0 5px 30px rgba(0, 0, 0, 0.2);

    display: block;
    position: relative;
    margin: 10px auto;
    cursor: pointer;
    border-bottom: solid 1px #ddd;
    border-radius: 10px;
}

ul {
    text-align: center;
    margin: em(10px) 0;
    padding-inline-end: 40px;
}

li {
    color: black;
    font-size: 25px;
    margin: 20px;
    padding: 10px 0;
    display: block;
}

.each-subtask {
    color: whitesmoke;
}






a {
    color: #6a2498;
}

* {
    box-sizing: border-box;
}

.navbar-right {
    display: flex;
    flex-direction: row;
}

.signout-button-div {
    display: flex;
}

.all-tasks-div {
    background-color: white;
    border-radius: 10px;
    padding: 15px;
}

.all-task-labels-div {
    background-color: white;
    border-radius: 10px;
    padding: 15px;
}

.all-login-labels-div {
    background-color: white;
    border-radius: 10px;
    padding: 15px;
    width: 300px;
}

.login-form {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.create-list-form-div {
    display: flex;
    justify-content: center;

}

.create-list-form {
    background-color: white;
    border-radius: 10px;
    width: 300px;
}

/* .task-detail {
    background: whitesmoke;
    border-radius: 20px;
} */

.edit-lists-labels {
    background-color: white;
    border-radius: 10px;
    padding: 15px;
}

.details-div {
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.details {
    background: whitesmoke;
    border-radius: 15px;
    width: 500px;
    margin-top: 60px;
}

.tasks-in-detail-pg {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: baseline;
    font-size: larger;
}

.tasks-pg {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
}



.subtasks-in-detail-pg {
    margin-top: 20px;
    background-color: white;
    border-radius: 10px;
    padding: 15px;
}

.create-view-buttons-div {
    font-size: 80px;
    font-weight: bold;
    color: white;
    background: #666666;
    -webkit-background-clip: text;
    -moz-background-clip: text;
    background-clip: text;
    text-shadow: 0px 3px 3px rgba(255, 255, 255, 0.5);
    margin-bottom: 70px;
}

.lists-page-top {
    display: flex;
    flex-direction: column-reverse;
    justify-content: space-evenly;
    align-items: center;
    margin-bottom: 100px;
}

.tasks-page-div {
    display: flex;
    font-size: 80px;
    font-weight: bold;
    color: white;
    background: #666666;
    -webkit-background-clip: text;
    -moz-background-clip: text;
    background-clip: text;
    text-shadow: 0px 3px 3px rgb(255 255 255 / 50%);
    margin-bottom: 70px;
    flex-direction: row;
    justify-content: center;
}

.lists-container {
    background-color: white;
    border-radius: 10px;
    padding: 15px;
    margin-bottom: 14px;
}


.error-div {
    display: flex;
    justify-content: center;
    color: rgb(179, 18, 18);

}

.delete-list-div {
    display: flex;
    flex-direction: column;
    align-items: center;
    background: whitesmoke;
    border-radius: 15px;
    padding-top: 30px;
}

.delete-list-title {
    color: white;
    font-size: 30px;
    display: flex;
    margin-bottom: 30px;
    justify-content: center;
}

.delete-page-buttons {
    display: flex;
}

.header-right {
    background-color: red;
display: flex;
}
